.calendar-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calendar-embed-wrapper {
  position: relative;
  height: min(80dvh, 700px);
  width: min(100%, 92vw);
  margin: var(--spacing-xl) var(--spacing-l);
  padding: 1px;
  outline: var(--border-width-m) solid var(--accent-301-shared);
  outline-offset: -1px;
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-3);
  overflow: auto;
  animation: calendar-in forwards var(--trs-m) 250ms;
}

/*.calendar-embed-wrapper.loading::after {
  content: "Cargando el calendario...";
  min-height: 5lh;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 1rem;
  opacity: 0.75;
  color: var(--text-clr-dimish);
  font-size: var(--fz-l);
  font-family: var(--ff-heading);
  background-color: var(--accent-500);
  border-radius: var(--radius-s);
}*/

.google-calendar-embed {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-m);
  filter: var(--calendar-brightness);
}

.calendar-bottom-text-wrapper {
  margin-block-end: var(--spacing-xl);
  padding: var(--spacing-l) var(--spacing-m);
  max-width: min(90vw, 70ch);
}
.calendar-para {
  padding-inline: var(--spacing-m);
  font-size: var(--fz-ml);
}
.calendar-para.tip {
  font-size: var(--fz-m);

  & span:first-of-type {
    font-family: var(--ff-italics);
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: var(--accent-301-shared);
  }

  & span:last-of-type {
    font-family: var(--ff-extra);
  }
}

@keyframes calendar-in {
  0% {
    opacity: 0;
    translate: 0 18px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
