/* Variables */
:root {
  --ff-base: Satoshi-Regular, Arial, sans-serif;
  --ff-medium: Satoshi-Medium, Arial, sans-serif;
  --ff-bold: Satoshi-Bold, Arial, sans-serif;
  --ff-italics: Satoshi-Italic, Arial, sans-serif;
  --ff-heading:
    Erode-Variable, Erode-regular, Verdana, Geneva, Tahoma, sans-serif;
  --ff-extra:
    MerriweatherSans-Regular, Satoshi-Bold, Arial, Helvetica, sans-serif;
  --ff-extra-bold:
    MerriweatherSans-SemiBold, Satoshi-Bold, Arial, Helvetica, sans-serif;
  --ff-base-lh: 1.5;
  --ff-heading-lh: 1.2;
  --ff-code: monospace, monospace;
  --body-max-width: 80ch;
  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-ms: 0.75rem;
  --spacing-m: 1rem;
  --spacing-ml: 1.75rem;
  --spacing-l: 2.25rem;
  --spacing-xl: 3.75rem;
  --spacing-xxl: 8rem;
  --fz-base: 1.1875rem;
  --fz-s: 0.875rem;
  --fz-s: 1.0625rem;
  --fz-ms: 1.25rem;
  --fz-m: 1.375rem;
  --fz-ml: 1.5rem;
  --fz-mll: 1.875rem;
  --fz-l: 2rem;
  --fz-xl: 2.5625rem;
  --fz-xxl: 3.25rem;
  --lh-base: 1.5;
  --radius-s: 5px;
  --radius-m: 15px;
  --radius-l: 30px;
  --radius-xl: 75px;
  --border-width-s: 1px;
  --border-width-m: 2px;
  --border-width-l: 5px;

  --shadow-1:
    0 3px 5px 0px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
  --shadow-2:
    0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
  --shadow-3:
    0 -2px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 1%)),
    0 1px 1px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 5px 5px -3px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 16px 16px -5px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%));
  --shadow-4:
    0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 10px 10px -2px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 20px 20px -2px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 40px 40px -2px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
  --shadow-5:
    0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 12px 10px -2px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 22px 18px -2px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 41px 33px -2px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
    0 100px 80px -2px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
  --inner-shadow-1: inset 0 -3px 5px 0 hsla(0, 0%, 18%, 0.39);
  --inner-shadow-2:
    inset 0 2px 8px 0
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%)),
    var(--inner-shadow-highlight);
  --inner-shadow-3:
    inset 0 2px 14px 0
      hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%)),
    var(--inner-shadow-highlight);

  --trs-xs: 135ms ease-in-out;
  --trs-s: 230ms ease-in-out;
  --trs-m: 500ms ease-in-out;
  --trs-l: 1075ms ease-in-out;
  --trs-in: 350ms cubic-bezier(0.11, 0, 0.5, 0);
  --trs-in-long: 1075ms cubic-bezier(0.11, 0, 0.5, 0);
  --trs-out: 500ms cubic-bezier(0.5, 1, 0.89, 1);
  --trs-out-long: 900ms cubic-bezier(0.5, 1, 0.89, 1);
  --trs-out-longer: 1450ms cubic-bezier(0.5, 1, 0.89, 1);
  --trs-back-in: 500ms
    linear(
      0,
      -0.004 6.9%,
      -0.019 13.8%,
      -0.11 37.6%,
      -0.131 46.7%,
      -0.13 51.8%,
      -0.118 56.5%,
      -0.095 60.9%,
      -0.06 65.1%,
      0.002 70.1%,
      0.081 74.8%,
      0.301 83.7%,
      0.607 92.1%,
      1
    );
  --trs-back-in-short: 375ms
    linear(
      0,
      -0.004 6.9%,
      -0.019 13.8%,
      -0.11 37.6%,
      -0.131 46.7%,
      -0.13 51.8%,
      -0.118 56.5%,
      -0.095 60.9%,
      -0.06 65.1%,
      0.002 70.1%,
      0.081 74.8%,
      0.301 83.7%,
      0.607 92.1%,
      1
    );
  --trs-back-in-out: 500ms
    linear(
      0,
      -0.004 4.8%,
      -0.02 9.3%,
      -0.124 26.1%,
      -0.126 30.3%,
      -0.104 33.9%,
      -0.026 38.7%,
      0.111 43.1%,
      0.301 47%,
      0.819 55.3%,
      0.969 59.2%,
      1.07 63.5%,
      1.118 67.8%,
      1.127 72.8%,
      1.108 77.4%,
      1.019 90.9%,
      1.004 95.3%,
      1
    );

  --trs-back-in-out-short: 245ms
    linear(
      0,
      -0.004 4.8%,
      -0.02 9.3%,
      -0.124 26.1%,
      -0.126 30.3%,
      -0.104 33.9%,
      -0.026 38.7%,
      0.111 43.1%,
      0.301 47%,
      0.819 55.3%,
      0.969 59.2%,
      1.07 63.5%,
      1.118 67.8%,
      1.127 72.8%,
      1.108 77.4%,
      1.019 90.9%,
      1.004 95.3%,
      1
    );
  --trs-back-out: 500ms cubic-bezier(0.7, 1.6, 0.63, 1);
  --trs-bounce: 800ms
    linear(
      0,
      0.269 10.8%,
      0.531 23.9%,
      0.793 39.6%,
      0.953 52.2%,
      1 57.7%,
      0.966 64.3%,
      0.955 71%,
      0.994 91.1%,
      1
    );

  --plyr-color-main: var(--accent-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-color: 205 8% 33%;
    --shadow-strength: 25%;
    --inner-shadow-highlight: inset 0 -0.5px 0 0 #fff1, inset 0 0.5px 0 0 #0007;

    --text-clr: var(--text-900);
    --text-clr-dimer: color-mix(in hsl, var(--text-clr) 34%, transparent 66%);
    --bkg-clr: var(--secondary-50);
    --text-50: hsl(53, 31%, 5%);
    --text-100: hsl(49, 33%, 10%);
    --text-200: hsl(51, 33%, 20%);
    --text-300: hsl(51, 33%, 30%);
    --text-400: hsl(51, 33%, 40%);
    --text-500: hsl(51, 33%, 50%);
    --text-600: hsl(51, 33%, 60%);
    --text-700: hsl(51, 33%, 70%);
    --text-800: hsl(51, 33%, 80%);
    --text-900: hsl(49, 33%, 90%);
    --text-950: hsl(53, 31%, 95%);
    --text-clr-dimish: hsla(51, 33%, 80%, 0.85);
    --text-clr-dim: hsla(51, 33%, 60%, 0.7);

    --background-50: hsl(53, 31%, 5%);
    --background-100: hsl(49, 33%, 10%);
    --background-200: hsl(49, 33%, 20%);
    --background-300: hsl(49, 33%, 30%);
    --background-400: hsl(49, 33%, 40%);
    --background-500: hsl(50, 33%, 50%);
    --background-600: hsl(49, 33%, 60%);
    --background-700: hsl(49, 33%, 70%);
    --background-800: hsl(49, 33%, 80%);
    --background-900: hsl(49, 33%, 90%);
    --background-950: hsl(53, 31%, 95%);

    --primary-50: hsl(52, 92%, 5%);
    --primary-100: hsl(51, 88%, 10%);
    --primary-200: hsl(51, 88%, 20%);
    --primary-300: hsl(51, 90%, 30%);
    --primary-350: hsl(51, 90%, 35%);
    --primary-400: hsl(51, 89%, 40%);
    --primary-500: hsl(51, 89%, 50%);
    --primary-600: hsl(51, 89%, 60%);
    --primary-700: hsl(51, 90%, 70%);
    --primary-800: hsl(51, 88%, 80%);
    --primary-900: hsl(51, 88%, 90%);
    --primary-950: hsl(50, 92%, 95%);

    --secondary-50: hsl(225, 31%, 5%);
    --secondary-100: hsl(226, 33%, 10%);
    --secondary-150: hsl(225, 33%, 15%);
    --secondary-200: hsl(224, 33%, 20%);
    --secondary-250: hsl(224, 33%, 25%);
    --secondary-300: hsl(225, 33%, 30%);
    --secondary-400: hsl(225, 33%, 40%);
    --secondary-500: hsl(225, 33%, 50%);
    --secondary-600: hsl(225, 33%, 60%);
    --secondary-700: hsl(225, 33%, 70%);
    --secondary-800: hsl(224, 33%, 80%);
    --secondary-900: hsl(226, 33%, 90%);
    --secondary-950: hsl(225, 31%, 95%);

    --accent-50: hsl(285, 31%, 5%);
    --accent-100: hsl(286, 33%, 10%);
    --accent-200: hsl(289, 31%, 20%);
    --accent-300: hsl(288, 32%, 30%);
    --accent-400: hsl(288, 32%, 40%);
    --accent-500: hsl(288, 32%, 50%);
    --accent-600: hsl(288, 32%, 60%);
    --accent-700: hsl(288, 32%, 70%);
    --accent-800: hsl(289, 31%, 80%);
    --accent-900: hsl(286, 33%, 90%);
    --accent-950: hsl(293, 31%, 95%);

    --h1-shadow-1-shared: hsla(49, 33%, 90%, 0.32);
    --h1-shadow-2-shared: hsla(49, 33%, 90%, 0.28);
    --bkg-clr-shared: hsl(225, 31%, 5%);
    --bkg-clr-shared-menu-border: hsl(225, 31%, 5%);
    --secondary-100-shared: hsl(226, 33%, 10%);
    --secondary-101-shared: hsl(226, 36%, 9%);
    --secondary-150-shared: hsl(225, 33%, 15%);
    --secondary-100-shared-menu: hsl(226, 33%, 10%);
    --secondary-150-shared-menu: hsl(225, 33%, 15%);
    --secondary-800-shared-separator: hsl(224, 33%, 80%);
    --primary-50-shared: hsla(52, 77%, 3%, 0.7);
    --primary-200-shared: hsl(51, 88%, 20%);
    --primary-350-shared: hsl(51, 90%, 35%);
    --primary-400-shared: hsl(51, 89%, 40%);
    --primary-500-shared: hsl(51, 89%, 50%);
    --primary-600-shared: hsl(51, 89%, 60%);
    --primary-601-shared: hsl(51, 88%, 59%);
    --primary-650-shared: hsl(51, 89%, 60%);
    --primary-700-shared: hsl(51, 90%, 70%);
    --secondary-200-shared: hsl(224, 33%, 20%);
    --accent-300-shared: hsl(288, 32%, 30%);
    --accent-301-shared: hsl(288, 32%, 30%);
    --accent-302-shared: hsl(288, 31%, 29%);
    --accent-400-shared: hsl(288, 32%, 35%);
    --accent-500-shared: hsl(288, 37%, 48%);
    --secondary-300-shared: hsl(225, 33%, 30%);
    --secondary-200-shared: hsl(224, 33%, 20%);
    --secondary-150-shared: hsl(225, 33%, 15%);
    --secondary-151-shared: hsl(225, 33%, 15%);
    --accent-600-shared: hsl(288, 32%, 60%);
    --secondary-50-shared: hsl(225, 31%, 5%);
    --secondary-500-shared: hsl(225, 33%, 53%);
    --accent-50-shared: hsl(285, 31%, 5%);
    --calendar-brightness: invert(0.98) hue-rotate(180deg) brightness(0.97);
    --color-scheme: dark;
    --form-button-edge-1: hsl(288deg 37% 14%);
    --form-button-edge-2: hsl(288deg 39% 20%);
    --form-button-edge-3: hsl(288deg 39% 18%);
    --form-button-edge-4: hsl(288deg 37% 13%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /*Shared-suffixed variables do not necessarily correspond to the main color palette*/
    --h1-shadow-1-shared: hsla(49, 33%, 10%, 0.21);
    --h1-shadow-2-shared: hsla(49, 33%, 10%, 0.14);
    --bkg-clr-shared: hsl(224, 33%, 88%);
    --bkg-clr-shared-menu-border: hsl(224, 33%, 77%);
    --accent-50-shared: hsl(280 33% 89%);
    --secondary-100-shared: hsl(224, 33%, 81%);
    --secondary-101-shared: hsl(224, 33%, 85%);
    --secondary-150-shared: hsl(224, 33%, 73%);
    --secondary-100-shared-menu: hsl(224, 33%, 83%);
    --secondary-150-shared-menu: hsl(224, 33%, 88%);
    --secondary-800-shared-separator: hsl(224, 33%, 53%);
    --primary-50-shared: hsla(50, 48%, 80%, 0.67);
    --primary-200-shared: hsl(288, 32%, 25%);
    --primary-350-shared: hsl(288, 32%, 48%);
    --primary-400-shared: hsl(288, 32%, 40%);
    --primary-500-shared: hsl(288, 32%, 50%);
    --primary-600-shared: hsl(288, 32%, 60%);
    --primary-601-shared: hsl(288, 45%, 45%);
    --primary-650-shared: hsl(51, 89%, 60%);
    --primary-700-shared: hsl(288, 34%, 35%);
    --secondary-200-shared: hsl(224, 33%, 33%);
    --accent-300-shared: hsl(288, 32%, 48%);
    --accent-301-shared: hsl(288, 32%, 62%);
    --accent-302-shared: hsl(288, 35%, 46%);
    --accent-400-shared: hsl(288, 32%, 59%);
    --accent-500-shared: hsl(288, 37%, 62%);
    --secondary-300-shared: hsl(225, 33%, 52%);
    --secondary-200-shared: hsl(224, 33%, 42%);
    --secondary-150-shared: hsl(225, 33%, 43%);
    --secondary-151-shared: hsl(225, 33%, 77%);
    --accent-600-shared: hsl(51, 89%, 46%);
    --secondary-50-shared: hsl(225, 31%, 30%);
    --secondary-500-shared: hsl(225, 33%, 33%);
    --calendar-brightness: brightness(0.975);
    --color-scheme: light;
    --form-button-edge-1: hsl(288deg 37% 15%);
    --form-button-edge-2: hsl(288deg 39% 28%);
    --form-button-edge-3: hsl(288deg 39% 25%);
    --form-button-edge-4: hsl(288deg 37% 14%);

    --text-clr: var(--text-900);
    --text-clr-dimer: color-mix(in hsl, var(--text-clr) 34%, transparent 66%);
    --bkg-clr: var(--secondary-50);
    --shadow-color: 220 3% 15%;
    --shadow-strength: 3.5%;
    --inner-shadow-highlight: inset 0 -0.5px 0 0 #fff, inset 0 0.5px 0 0 #0001;

    --text-50: hsl(53, 31%, 95%);
    --text-100: hsl(49, 33%, 90%);
    --text-200: hsl(51, 31%, 80%);
    --text-300: hsl(51, 32%, 70%);
    --text-400: hsl(51, 32%, 60%);
    --text-500: hsl(51, 32%, 50%);
    --text-600: hsl(51, 32%, 40%);
    --text-700: hsl(51, 32%, 30%);
    --text-800: hsl(51, 31%, 20%);
    --text-900: hsl(49, 33%, 10%);
    --text-950: hsl(53, 31%, 5%);
    --text-clr-dimish: hsla(51, 31%, 20%, 0.85);
    --text-clr-dim: hsla(51, 32%, 40%, 0.7);

    --background-50: hsl(53, 31%, 95%);
    --background-100: hsl(49, 33%, 90%);
    --background-200: hsl(49, 33%, 80%);
    --background-300: hsl(49, 33%, 70%);
    --background-400: hsl(49, 33%, 60%);
    --background-500: hsl(50, 33%, 50%);
    --background-600: hsl(49, 33%, 40%);
    --background-700: hsl(49, 33%, 30%);
    --background-800: hsl(49, 33%, 20%);
    --background-900: hsl(49, 33%, 10%);
    --background-950: hsl(53, 31%, 5%);

    --primary-50: hsl(50, 92%, 95%);
    --primary-100: hsl(51, 88%, 90%);
    --primary-200: hsl(51, 88%, 80%);
    --primary-300: hsl(51, 90%, 70%);
    --primary-350: hsl(51, 90%, 65%);
    --primary-400: hsl(51, 89%, 60%);
    --primary-500: hsl(51, 89%, 50%);
    --primary-600: hsl(51, 89%, 40%);
    --primary-700: hsl(51, 90%, 30%);
    --primary-800: hsl(51, 88%, 20%);
    --primary-900: hsl(51, 88%, 10%);
    --primary-950: hsl(52, 92%, 5%);

    --secondary-50: hsl(225, 31%, 88%);
    --secondary-51: hsl(225, 31%, 95%);
    --secondary-100: hsl(222, 33%, 90%);
    --secondary-150: hsl(223, 33%, 95%);
    --secondary-200: hsl(224, 33%, 80%);
    --secondary-250: hsl(224, 33%, 75%);
    --secondary-300: hsl(224, 33%, 70%);
    --secondary-400: hsl(224, 33%, 60%);
    --secondary-500: hsl(224, 33%, 50%);
    --secondary-600: hsl(224, 33%, 40%);
    --secondary-700: hsl(224, 33%, 30%);
    --secondary-800: hsl(224, 33%, 20%);
    --secondary-900: hsl(222, 33%, 10%);
    --secondary-950: hsl(225, 31%, 5%);

    --accent-50: hsl(293, 31%, 95%);
    --accent-100: hsl(286, 33%, 90%);
    --accent-200: hsl(289, 31%, 80%);
    --accent-300: hsl(288, 32%, 70%);
    --accent-400: hsl(288, 32%, 60%);
    --accent-500: hsl(288, 32%, 50%);
    --accent-600: hsl(288, 32%, 40%);
    --accent-700: hsl(288, 32%, 30%);
    --accent-800: hsl(289, 31%, 20%);
    --accent-900: hsl(286, 33%, 10%);
    --accent-950: hsl(285, 31%, 5%);
  }
}

body.dark-theme {
  --shadow-color: 205 8% 33%;
  --shadow-strength: 25%;
  --inner-shadow-highlight: inset 0 -0.5px 0 0 #fff1, inset 0 0.5px 0 0 #0007;

  --text-clr: var(--text-900);
  --text-clr-dimer: color-mix(in hsl, var(--text-clr) 34%, transparent 66%);
  --bkg-clr: var(--secondary-50);
  --text-50: hsl(53, 31%, 5%);
  --text-100: hsl(49, 33%, 10%);
  --text-200: hsl(51, 33%, 20%);
  --text-300: hsl(51, 33%, 30%);
  --text-400: hsl(51, 33%, 40%);
  --text-500: hsl(51, 33%, 50%);
  --text-600: hsl(51, 33%, 60%);
  --text-700: hsl(51, 33%, 70%);
  --text-800: hsl(51, 33%, 80%);
  --text-900: hsl(49, 33%, 90%);
  --text-950: hsl(53, 31%, 95%);
  --text-clr-dimish: hsla(51, 33%, 80%, 0.85);
  --text-clr-dim: hsla(51, 33%, 60%, 0.7);

  --background-50: hsl(53, 31%, 5%);
  --background-100: hsl(49, 33%, 10%);
  --background-200: hsl(49, 33%, 20%);
  --background-300: hsl(49, 33%, 30%);
  --background-400: hsl(49, 33%, 40%);
  --background-500: hsl(50, 33%, 50%);
  --background-600: hsl(49, 33%, 60%);
  --background-700: hsl(49, 33%, 70%);
  --background-800: hsl(49, 33%, 80%);
  --background-900: hsl(49, 33%, 90%);
  --background-950: hsl(53, 31%, 95%);

  --primary-50: hsl(52, 92%, 5%);
  --primary-100: hsl(51, 88%, 10%);
  --primary-200: hsl(51, 88%, 20%);
  --primary-300: hsl(51, 90%, 30%);
  --primary-350: hsl(51, 90%, 35%);
  --primary-400: hsl(51, 89%, 40%);
  --primary-500: hsl(51, 89%, 50%);
  --primary-600: hsl(51, 89%, 60%);
  --primary-700: hsl(51, 90%, 70%);
  --primary-800: hsl(51, 88%, 80%);
  --primary-900: hsl(51, 88%, 90%);
  --primary-950: hsl(50, 92%, 95%);

  --secondary-50: hsl(225, 31%, 5%);
  --secondary-100: hsl(226, 33%, 10%);
  --secondary-150: hsl(225, 33%, 15%);
  --secondary-200: hsl(224, 33%, 20%);
  --secondary-250: hsl(224, 33%, 25%);
  --secondary-300: hsl(225, 33%, 30%);
  --secondary-400: hsl(225, 33%, 40%);
  --secondary-500: hsl(225, 33%, 50%);
  --secondary-600: hsl(225, 33%, 60%);
  --secondary-700: hsl(225, 33%, 70%);
  --secondary-800: hsl(224, 33%, 80%);
  --secondary-900: hsl(226, 33%, 90%);
  --secondary-950: hsl(225, 31%, 95%);

  --accent-50: hsl(285, 31%, 5%);
  --accent-100: hsl(286, 33%, 10%);
  --accent-200: hsl(289, 31%, 20%);
  --accent-300: hsl(288, 32%, 30%);
  --accent-400: hsl(288, 32%, 40%);
  --accent-500: hsl(288, 32%, 50%);
  --accent-600: hsl(288, 32%, 60%);
  --accent-700: hsl(288, 32%, 70%);
  --accent-800: hsl(289, 31%, 80%);
  --accent-900: hsl(286, 33%, 90%);
  --accent-950: hsl(293, 31%, 95%);

  --h1-shadow-1-shared: hsla(49, 33%, 90%, 0.32);
  --h1-shadow-2-shared: hsla(49, 33%, 90%, 0.28);
  --bkg-clr-shared: hsl(225, 31%, 5%);
  --bkg-clr-shared-menu-border: hsl(225, 31%, 5%);
  --secondary-100-shared: hsl(226, 33%, 10%);
  --secondary-101-shared: hsl(226, 36%, 9%);
  --secondary-150-shared: hsl(225, 33%, 15%);
  --secondary-100-shared-menu: hsl(226, 33%, 10%);
  --secondary-150-shared-menu: hsl(225, 33%, 15%);
  --secondary-800-shared-separator: hsl(224, 33%, 80%);
  --primary-50-shared: hsla(52, 77%, 3%, 0.7);
  --primary-200-shared: hsl(51, 88%, 20%);
  --primary-350-shared: hsl(51, 90%, 35%);
  --primary-400-shared: hsl(51, 89%, 40%);
  --primary-500-shared: hsl(51, 89%, 50%);
  --primary-600-shared: hsl(51, 89%, 60%);
  --primary-601-shared: hsl(51, 88%, 59%);
  --primary-650-shared: hsl(51, 89%, 60%);
  --primary-700-shared: hsl(51, 90%, 70%);
  --secondary-200-shared: hsl(224, 33%, 20%);
  --accent-300-shared: hsl(288, 32%, 30%);
  --accent-301-shared: hsl(288, 32%, 30%);
  --accent-302-shared: hsl(288, 31%, 29%);
  --accent-400-shared: hsl(288, 32%, 35%);
  --accent-500-shared: hsl(288, 37%, 48%);
  --secondary-300-shared: hsl(225, 33%, 30%);
  --secondary-200-shared: hsl(224, 33%, 20%);
  --secondary-150-shared: hsl(225, 33%, 15%);
  --secondary-151-shared: hsl(225, 33%, 15%);
  --accent-600-shared: hsl(288, 32%, 60%);
  --secondary-50-shared: hsl(225, 31%, 5%);
  --secondary-500-shared: hsl(225, 33%, 53%);
  --accent-50-shared: hsl(285, 31%, 5%);
  --calendar-brightness: invert(0.98) hue-rotate(180deg) brightness(0.97);
  --color-scheme: dark;
  --form-button-edge-1: hsl(288deg 37% 14%);
  --form-button-edge-2: hsl(288deg 39% 20%);
  --form-button-edge-3: hsl(288deg 39% 18%);
  --form-button-edge-4: hsl(288deg 37% 13%);
}

body.light-theme {
  --h1-shadow-1-shared: hsla(49, 33%, 10%, 0.21);
  --h1-shadow-2-shared: hsla(49, 33%, 10%, 0.14);
  --bkg-clr-shared: hsl(224, 33%, 88%);
  --bkg-clr-shared-menu-border: hsl(224, 33%, 77%);
  --secondary-100-shared: hsl(224, 33%, 81%);
  --secondary-101-shared: hsl(224, 33%, 85%);
  --secondary-150-shared: hsl(224, 33%, 73%);
  --secondary-100-shared-menu: hsl(224, 33%, 83%);
  --secondary-150-shared-menu: hsl(224, 33%, 88%);
  --secondary-800-shared-separator: hsl(224, 33%, 53%);
  --primary-50-shared: hsla(50, 48%, 80%, 0.67);
  --primary-200-shared: hsl(288, 32%, 25%);
  --primary-350-shared: hsl(288, 32%, 48%);
  --primary-400-shared: hsl(288, 32%, 40%);
  --primary-500-shared: hsl(288, 32%, 50%);
  --primary-600-shared: hsl(288, 32%, 60%);
  --primary-601-shared: hsl(288, 45%, 45%);
  --primary-650-shared: hsl(51, 89%, 60%);
  --primary-700-shared: hsl(288, 34%, 35%);
  --secondary-200-shared: hsl(224, 33%, 33%);
  --accent-300-shared: hsl(288, 32%, 48%);
  --accent-301-shared: hsl(288, 32%, 62%);
  --accent-302-shared: hsl(288, 35%, 46%);
  --accent-400-shared: hsl(288, 32%, 59%);
  --accent-500-shared: hsl(288, 37%, 62%);
  --secondary-300-shared: hsl(225, 33%, 52%);
  --secondary-200-shared: hsl(224, 33%, 42%);
  --secondary-150-shared: hsl(225, 33%, 43%);
  --secondary-151-shared: hsl(225, 33%, 77%);
  --accent-600-shared: hsl(51, 89%, 46%);
  --secondary-50-shared: hsl(225, 31%, 30%);
  --secondary-500-shared: hsl(225, 33%, 33%);
  --accent-50-shared: hsl(280 33% 89%);
  --calendar-brightness: brightness(0.975);
  --color-scheme: light;
  --form-button-edge-1: hsl(288deg 37% 15%);
  --form-button-edge-2: hsl(288deg 39% 28%);
  --form-button-edge-3: hsl(288deg 39% 25%);
  --form-button-edge-4: hsl(288deg 37% 14%);

  --text-clr: var(--text-900);
  --text-clr-dimer: color-mix(in hsl, var(--text-clr) 34%, transparent 66%);
  --bkg-clr: var(--secondary-50);
  --shadow-color: 220 3% 15%;
  --shadow-strength: 3.5%;
  --inner-shadow-highlight: inset 0 -0.5px 0 0 #fff, inset 0 0.5px 0 0 #0001;

  --text-50: hsl(53, 31%, 95%);
  --text-100: hsl(49, 33%, 90%);
  --text-200: hsl(51, 31%, 80%);
  --text-300: hsl(51, 32%, 70%);
  --text-400: hsl(51, 32%, 60%);
  --text-500: hsl(51, 32%, 50%);
  --text-600: hsl(51, 32%, 40%);
  --text-700: hsl(51, 32%, 30%);
  --text-800: hsl(51, 31%, 20%);
  --text-900: hsl(49, 33%, 10%);
  --text-950: hsl(53, 31%, 5%);
  --text-clr-dimish: hsla(51, 31%, 20%, 0.85);
  --text-clr-dim: hsla(51, 32%, 40%, 0.7);

  --background-50: hsl(53, 31%, 95%);
  --background-100: hsl(49, 33%, 90%);
  --background-200: hsl(49, 33%, 80%);
  --background-300: hsl(49, 33%, 70%);
  --background-400: hsl(49, 33%, 60%);
  --background-500: hsl(50, 33%, 50%);
  --background-600: hsl(49, 33%, 40%);
  --background-700: hsl(49, 33%, 30%);
  --background-800: hsl(49, 33%, 20%);
  --background-900: hsl(49, 33%, 10%);
  --background-950: hsl(53, 31%, 5%);

  --primary-50: hsl(50, 92%, 95%);
  --primary-100: hsl(51, 88%, 90%);
  --primary-200: hsl(51, 88%, 80%);
  --primary-300: hsl(51, 90%, 70%);
  --primary-350: hsl(51, 90%, 65%);
  --primary-400: hsl(51, 89%, 60%);
  --primary-500: hsl(51, 89%, 50%);
  --primary-600: hsl(51, 89%, 40%);
  --primary-700: hsl(51, 90%, 30%);
  --primary-800: hsl(51, 88%, 20%);
  --primary-900: hsl(51, 88%, 10%);
  --primary-950: hsl(52, 92%, 5%);

  --secondary-50: hsl(225, 31%, 88%);
  --secondary-51: hsl(225, 31%, 95%);
  --secondary-100: hsl(222, 33%, 90%);
  --secondary-150: hsl(223, 33%, 95%);
  --secondary-200: hsl(224, 33%, 80%);
  --secondary-250: hsl(224, 33%, 75%);
  --secondary-300: hsl(224, 33%, 70%);
  --secondary-400: hsl(224, 33%, 60%);
  --secondary-500: hsl(224, 33%, 50%);
  --secondary-600: hsl(224, 33%, 40%);
  --secondary-700: hsl(224, 33%, 30%);
  --secondary-800: hsl(224, 33%, 20%);
  --secondary-900: hsl(222, 33%, 10%);
  --secondary-950: hsl(225, 31%, 5%);

  --accent-50: hsl(293, 31%, 95%);
  --accent-100: hsl(286, 33%, 90%);
  --accent-200: hsl(289, 31%, 80%);
  --accent-300: hsl(288, 32%, 70%);
  --accent-400: hsl(288, 32%, 60%);
  --accent-500: hsl(288, 32%, 50%);
  --accent-600: hsl(288, 32%, 40%);
  --accent-700: hsl(288, 32%, 30%);
  --accent-800: hsl(289, 31%, 20%);
  --accent-900: hsl(286, 33%, 10%);
  --accent-950: hsl(285, 31%, 5%);
}

/*General selectors*/
body {
  padding-block-start: 10.25rem; /*Adding padding at the bottom would include the footer too!*/

  @media screen and (max-width: 900px) {
    padding-block-start: 7rem;
  }
}

::selection {
  background-color: var(--secondary-250);
  color: var(--secondary-800);
}

nav {
  font-family: var(--ff-extra);
}

label {
  cursor: pointer;
}

/*Elements*/
.main-main {
  flex: 1 0 100%;
  width: 100%;
}

.motto-quote {
  margin: 0;
  font-family:
    Erode-VariableItalic, Erode-LightItalic, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-variation-settings: "wght" 550;
}

.gallery-anchor-icon,
.copy-icon,
.copyright-icon,
.theme-select-icon,
.main-whatsapp-anchor {
  transition: background-color var(--trs-s);
}

.inline-icon {
  display: inline-block;
}

.main-logo {
  margin-inline: auto;

  user-select: none;
}

.main-centering {
  max-width: 1300px;
  margin-inline: auto;
}

.main-whatsapp-anchor {
  display: inline-flex;
  position: sticky;
  inset: auto 30px 1em 100%;
  margin: 0 30px 15px 0;
  padding: 7px;
  z-index: 19;
  background-color: var(--secondary-200-shared);
  border: 3px double var(--accent-300-shared);
  border-radius: var(--radius-m);
  transition: scale var(--trs-back-in-short);

  &:hover,
  &:focus {
    scale: 1.1;
  }
  &:active {
    scale: 0.9;
  }
}

.main-whatsapp-icon {
  display: inline-block;
  height: 48px;
  width: 48px;
  mask: url("/whatsapp.svg") center / contain no-repeat;
  background-color: var(--primary-650-shared);
}

.global-h2-hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--spacing-m);
  text-align: center;

  & p {
    font-size: var(--fz-ml);
    max-width: 55ch;
    animation: h2-para-in both var(--trs-l) 350ms;

    &:first-of-type {
      margin-block-start: 1.1875em;
    }
  }
}

.title-wrapper-for-underline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.global-h2 {
  display: inline-block;
  position: relative;
  margin: 0.5rem 0 0;
  font-family: var(--ff-heading);
  font-size: var(--fz-xl);
  font-weight: 630;
  letter-spacing: 0.017em;
  transition: color var(--trs-s);
  animation: h2-in both var(--trs-l) 350ms;
}

.title-underline {
  height: 1px;
  width: 90%;
  background-color: var(--text-700);
  animation: underline-in both var(--trs-in-long) 300ms;
}

#gallery-h2,
#gallery-underline,
#gallery-paragraph {
  animation-delay: -1ms;
  animation-duration: 1ms;
  animation-iteration-count: 1;
  transition-delay: 0s;
  transition-duration: 0s;
}

.fv-button:focus-visible {
  outline: var(--border-width-s) solid var(--accent-500);
  outline-offset: 5px;
}

.about-cta {
  max-width: 55ch;
  margin: 0 auto var(--spacing-xl);
  padding: var(--spacing-xl);
  text-align: center;
  opacity: 0.3;
  transition: opacity var(--trs-m);
}

.about-cta.intersected {
  opacity: 1;
}

.about-cta-title {
  font-size: var(--fz-xl);
  color: var(--primary-900);
  margin-block-end: var(--spacing-m);
  font-weight: 650;
  font-variation-settings: "wght" 650;
}

.about-cta-description {
  font-size: var(--fz-ml);
  margin-block-end: var(--spacing-l);
  perspective: 150px;
}

.about-cta-button-wrapper,
.services-cta-button-wrapper {
  display: inline-block;
  height: fit-content;
  width: fit-content;

  --text-900: hsl(49, 33%, 90%);
  --accent-100: hsl(286, 33%, 10%);
  --accent-200: hsl(289, 31%, 20%);
  --accent-300: hsl(288, 32%, 30%);
  --accent-400: hsl(288, 32%, 35%);
  --accent-500: hsl(288, 37%, 48%);
  --secondary-400: hsl(225, 33%, 40%);
  --secondary-600: hsl(225, 33%, 57%);
  --secondary-700: hsl(225, 33%, 65%);
}

.about-cta-button {
  will-change: scale;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-s);
  padding: var(--spacing-m) var(--spacing-l);
  font-family: var(--ff-extra-bold);
  font-size: var(--fz-ml);
  color: var(--text-900);
  border: var(--border-width-m) solid var(--accent-400);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-2);
  transition:
    background-position var(--trs-s),
    scale var(--trs-s),
    border-color var(--trs-m),
    box-shadow var(--trs-s),
    translate var(--trs-s);
  background-image: linear-gradient(
    139deg,
    var(--accent-100),
    var(--accent-200),
    var(--accent-100)
  );
  background-size: 263%;
  background-position: 0%;

  .about-cta-button-wrapper:hover & {
    translate: 0 -2.3px;
    box-shadow: var(--shadow-3);
    background-position: 100%;
    border-color: var(--accent-500);
    transition:
      background-position var(--trs-l),
      scale var(--trs-s),
      border-color var(--trs-m),
      box-shadow var(--trs-s),
      translate var(--trs-s);

    & .about-cta-button-arrow {
      translate: 5px 0.0625em;
    }
  }

  .about-cta-button-wrapper:active & {
    translate: 0;
    box-shadow: var(--shadow-1);
  }
}

.about-cta-button-arrow {
  position: relative;
  font-size: var(--fz-ml);
  translate: 0 0.0625em;
  transition: translate var(--trs-s);
}

@media screen and (max-width: 900px) {
  .about-cta-button {
    padding: var(--spacing-ms) var(--spacing-ml);
    font-size: var(--fz-m);
  }
}

@media screen and (max-width: 700px) {
  .main-whatsapp-icon {
    height: 44px;
    width: 44px;
  }

  .about-cta-title {
    font-size: var(--fz-l);
  }

  .about-cta-description {
    font-size: var(--fz-m);
  }

  .about-cta-button {
    padding: var(--spacing-s) var(--spacing-m);
    font-size: var(--fz-ms);
  }
}

@media screen and (max-width: 600px) {
  .title-underline {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .about-cta {
    margin: 0 auto var(--spacing-xxl);
  }

  .about-cta-button {
    padding: var(--spacing-s) var(--spacing-ml);
    font-size: var(--fz-s);
  }

  .about-cta-button.services {
    padding: var(--spacing-s) var(--spacing-ms);
  }

  .theme-fieldset {
    opacity: 0.9 !important;
    width: min-content;
  }
}

@media screen and (max-width: 450px) {
  .main-whatsapp-icon {
    height: 36px;
    width: 36px;
  }

  .about-cta-title {
    font-size: var(--fz-ml);
  }

  .about-cta-description {
    font-size: var(--fz-s);
  }
}

@media screen and (max-width: 350px) {
  .about-cta-button {
    padding: var(--spacing-s) var(--spacing-m);
    font-size: var(--fz-xs);
  }
}

@media screen and (max-width: 300px) {
  .main-whatsapp-anchor {
    margin: 0 30px 6em 0;
  }
}

@keyframes underline-in {
  0% {
    opacity: 0;
    scale: 0.1 1;
  }
  100% {
    opacity: 1;
    scale: 1 1;
  }
}

@keyframes h2-in {
  0% {
    color: color-mix(in hsl, var(--primary-601-shared) 10%, transparent 90%);
  }
  100% {
    color: var(--primary-601-shared);
  }
}

@keyframes h2-para-in {
  0% {
    opacity: 0.1;
    translate: 0 -0.85lh;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
